body {
    background-color: rgb(0, 0, 54);
    color: white;
    font-family: 'Faculty Glyphic', sans-serif;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-top: 20px;
    font-family: 'Faculty Glyphic', sans-serif;
}

.search-container {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}

#searchInput {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #333;
    color: white;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 20px;
    transition: transform 0.3s ease;
}

img {
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

li:hover img {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

li:hover {
    transform: scale(1.05);
}
